{% extends 'base.html' %}
{% block title %} About Us {% endblock title %}
{% block body %}
<div class="about-us">
    <div class="container text-center">
        <main class="center-content">
            <h1>About Us</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
                the
                text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-dark">Learn more</a>
            </p>
        </main>
    </div>

</div>

{% endblock body %}